<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello World!</title>
    <head>
        <title>Spring Security Example </title>
        <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    </head>
<body>
<h1>Create book</h1>
<form action="#" th:action="@{/book/create}" th:object="${newBook}" th:method="post">

    <div>
        <label class="form-check-label" for="title"> Title: </label>
        <input id="title" type="text" th:field="*{title}"> </input>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>

</body>
</html>